.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ozoneheading {
  width: 250px;
  height: auto;
}
.tlelogo {
  width: 100px;
  height: auto;
}
@media (max-width: 768px) {
  .navbar__container {
    padding-top: 1rem;
  }
}
@media (max-width: 450px) {
  .navbar__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
